@model List<UserModel>

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>CRUD C#</title>
</head>
<body>
    <h3>Crud ASP.NET </h3>
    <div class="users">
        <div id="add-button">
            <a asp-controller="AddUser" asp-action="Index"><button>Adicionar</button></a>
        </div>
        @{
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Email</th>
                        <th>Senha</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var user in Model)
                        {
                            <tr>
                                <td class="user-id">@user.Id</td>
                                <td>@user.UserName</td>
                                <td>@user.UserLastName</td>
                                <td>@user.UserEmail</td>
                                <td>@user.UserPassword</td>
                                <td>
                                    <a asp-controller="UpdateUser" asp-action="Index" asp-route-id="@user.Id"><button id="update-button">Atualizar</button></a>
                                </td>
                                <td>
                                    <a asp-controller="DeleteUser" asp-action="Index" asp-route-id="@user.Id"><button id="delete-button">Deletar</button></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
    </div>
</body>
</html>